.container
  %h1
    Medicines
    = link_to new_medicine_path, class: 'btn btn-info float-right' do
      %span.glyphicon.glyphicon-plus
      Add new medicine
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th
          = sort_link "name"
        %th
          Brands
        %th
          = sort_link "score"
        %th
          Actions
    %tbody
      - @medicines.each do |medicine|
        = render "medicine", medicine: medicine
