#info-block
  .info-text
    %p
      Many of the medications that we commonly prescribe have anticholinergic properties.
    %p
      In patients over 65 years of age these can cause adverse events, such as confusion, dizziness and falls. These have been shown to increase patient mortality.
    %p
      You can use this calculator to work out the Anticholinergic Burden for your patients.
    %p
      A score of 3+ is associated with an increased cognitive impairment and mortality.
    %p
      Find
      = link_to "more information on Anticholinergic Burden", "/pages/about"
      or help choosing medicines to
      = link_to "reduce anticholinergic burden", "/pages/reducing"
