.row
  .medicine-line
    .top-line
      .col-xs-10
        = text_field_tag "med-textbox", nil, placeholder: "Start typing...", class: "form-control js-meds-autocomplete"
      .bin.col-xs-2{ style: "padding-left: 0;" }
        %a.glyphicon.glyphicon-trash{ href: '#', onclick: "removeChoice($(this))" }
    .bottom-line
      .col-xs-12.score-container
        .div.result-table-heading
          %span
            %b
              Score:
        .div.result-table-values
          %span.score.number--zero
            0
      .col-xs-12.medicine-container
        .div.result-table-heading
          %span
            %b
              Medicine:
        .div.result-table-values
          %span.medicine
      .col-xs-12.brands-container
        .div.result-table-heading
          %span
            %b
              Brands:
        .div.result-table-values
          %span.brands
