.container
  %h1
    Welcome#index
  %p
    Find me in app/views/welcome/index.html.haml
  = form_tag("/search", :method => "get") do
    = select_tag(:medicine, options_for_select(medicine_select), prompt: "please select")