.container
  %h1
    Anticholinergic Burden

  %p
    Anticholinergic medications are used to block the neurotransmitter Acetylcholine. Anticholinergics
    have systemic effects on smooth muscle function including the lungs, gastrointestinal system and
    urinary tract. Anticholinergic drugs are therefore prescribed to treat a variety of medical conditions
    including Parkinson’s disease, allergies, Chronic Obstructive Pulmonary Disease, Depression and
    urinary incontinence.
  %p
    Medications with anticholinergic properties can be associated Adverse Drug Reactions (ADRs).
    Examples of such ADRs include dry eyes, urinary retention, dizziness, cognitive impairment and falls.
    The Anticholinergic effect increases if a stronger Anticholinergic is used, or if different
    Anticholinergics are used in combination. Older patients are more likely to have multiple co-
    morbidities, and therefore to be on multiple medications. As the body ages, its ability to metabolise
    medications declines, and therefore older patients are more susceptible to the Anticholinergic
    effects of their medications<sup>
    %span>=link_to "1-3", :anchor => "ref1"
    </sup>.

  %p
    Anticholinergic Burden tables were created in 2008 in an attempt to quantify the effects of these
    medications, and provide a practical tool for optimising prescribing for older patients<sup>
    %span>=link_to "4", :anchor => "ref4"
    </sup>.
    Longitudinal studies have shown an association between the use of Anticholinergics and the risk of
    developing cognitive impairment and of death<sup>
    %span>=link_to "5", :anchor => "ref5"
    </sup>. More recent research also indicates that
    there is a dose-dependent association between long term use of Anticholinergics and the risk of
    developing Dementia<sup>
    %span>=link_to "6", :anchor => "ref6"
    </sup>.
  %p
    Many medications that have anticholinergic properties are prescribed on the basis of robust clinical
    evidence. It is therefore appropriate that these be continued. The purpose of the Anticholinergic
    Burden Calculator is to aid the Clinician in their decision making during a medication review, and to
    offer alternatives with a lower Anticholinergic burden, which may or may not be appropriate for that
    patient.
  %br
  %h4
    References
  %p.references
    %p
      %sup{ id: "ref1" }
        1
      Polypharmacy and Medicines Optimisation in Older People. East Cheshire NHS Prescribing
      Commissioning Policy August 2016
    %p
      %sup{ id: "ref2" }
        2
      Flacker et al. The Association of Serum Anticholinergic Activity with Delirium in Elderly
      Patients. The American Journey of Geriatric Psychiatry (6:31-41, 1998)
    %p
      %sup{ id: "ref3" }
        3
      Roe et al. Use of Anticholinergic Medication by Older Adults with Dementia. Journal of the
      American Geriatric Society (50:836-842, 2002)
    %p
      %sup{ id: "ref4" }
        4
      Boustani at al. Impact of Anticholinergics on the Ageing Brain; a review and practical
      application. Ageing Health (4(3) 311-320, 2008)
    %p
      %sup{ id: "ref5" }
        5
      Fox et al. Anticholinergic Medication Use and Cognitive Impairment in the Older Population;
      The Medical Research Council Cognitive Function and Ageing Study. Journal of the American
      Geriatric Society. (59;1477-1483, 2011)
    %p
      %sup{ id: "ref6" }
        6
      Gray et al. Cumulative Use of Strong Anticholinergic Medications and Incident Dementia.
      Journal of the American Medical Association. (175(3): 401-407, 2015)
    %br