.container
  %ul.nav.nav-tabs
    %li
      = link_to "Anticholinergic Burden", "/pages/about"
    %li.active
      = link_to "Reducing ACB Risk", "/pages/reducing"
  %h1
    Reducing ACB Risk

  %p
    The following table has been adapted from Scottish Intercollegiate Guidelines Network (SIGN) Polypharmacy Guidance, March 2015, and shows for each group of medications, which are considered to have a lower or higher risk of Anticholinergic Burden.

  %p
    When consulting the literature, there are discrepancies between the numerical anticholinergic burden assigned to different medications. In the interest of patient safety, we have opted for the higher burden scores in these instances.

  %p
    Please consider recommendations from your local health economy formulary when making prescribing decisions.

  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th{ width: '20%' }
          Medicine Group
        %th{ width: '20%' }
          Minimal Anticholinergic Burden
        %th{ width: '20%' }
          Mild Anticholinergic Burden
        %th{ width: '20%' }
          Moderate Anticholinergic Burden
        %th{ width: '20%' }
          Severe Anticholinergic Burden
    %tbody
      %tr
        %td{ colspan: 5 }
          %strong
            Antiallergics
      %tr
        %td
        %td
          %li
            Desloratidine
          %li
            Fexofenadine
        %td
        %td
          %li
            Cetirizine
          %li
            Loratidine
        %td
          %li
            Chlorphenamine
          %li
            Clemastine
      %tr
        %td{ colspan: 5 }
          %strong
            Antidepressants
      %tr
        %td
        %td
          %li
            Venlafaxine
          %li
            Duloxetine
          %li
            Buproprion
          %li
            Trazadone
        %td
          %li
            Trazodone
          %li
            Mirtazepine
          %li
            Lofepramine
        %td
          %li
            Paroxetine
          %li
            Desipramine
          %li
            Trimepramine
          %li
            Sertraline
          %li
            Clomipramine
        %td
          %li
            Amitriptyline
          %li
            Nortriptyline
          %li
            Imipramine
      %tr
        %td{ colspan: 5 }
          %strong
            Antiparkinson
      %tr
        %td
        %td
        %td
          %li
            Levodopa/Carbidopa
          %li
            Selegeline
          %li
            Entacapone
          %li
            Pramipexole
        %td
          %li
            Amantadine
        %td
          %li
            Procyclidine
          %li
            Benztropine
      %tr
        %td{ colspan: 5 }
          %strong
            Antipsychotics
      %tr
        %td
        %td
          %li
            Avoid Phenothiazines
          %li
            Aripriprazole and Ziprasidone have lower anticholinergic burden
        %td
          %li
            Quetiapine
          %li
            Risperidone
          %li
            Haloperidol
        %td
          %li
            Clozapine
          %li
            Levomepromazine
          %li
            Pericyazine
        %td
          %li
            Olanzepine
          %li
            Doxepine
          %li
            Chlorpromazine
          %li
            Promethazine
      %tr
        %td{ colspan: 5 }
          %strong
            H2 blockers
      %tr
        %td
        %td
          %li
            Consider PPI as alternative
        %td
          %li
            Ranitidine
        %td
          %li
            Cimetidine
        %td
      %tr
        %td{ colspan: 5 }
          %strong
            Nausea and Vomiting
      %tr
        %td
        %td
          %li
            Domperidone
        %td
          %li
            Metoclopramide
        %td
          %li
            Prochlorperazine
          %li
            Levomepromazine
        %td
      %tr
        %td{ colspan: 5 }
          %strong
            Sedatives
      %tr
        %td
        %td
          %li
            Avoid antihistamine sedation
        %td
        %td
        %td
      %tr
        %td{ colspan: 5 }
          %strong
            Urinary Incontinence
      %tr
        %td
        %td
          %li
            Mirabegron
        %td
        %td
        %td
          %li
            Oxybutynin
          %li
            Fesoteradine
          %li
            Trospium
          %li
            Solifenacin
          %li
            Tolterodine
    %tfoot
      %tr
        %td{ colspan: 5 }
          %i
            Adapted from Scottish Intercollegiate Guidelines Network (SIGN) Polypharmacy Guidance, March 2015
