/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";

span.twitter-typeahead {
  width: 100%;
}

span.twitter-typeahead {
  display: block !important;
  .tt-dropdown-menu {
    top: 32px !important;
    width: 100%;
  }
  .tt-menu {
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    .tt-cursor {
      background-color: lightblue;
    }
    .tt-selectable:hover {
      cursor: pointer;
      background-color: lightblue;
    }
  }
}

html,
body { height: 100%; }

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { height: 100%; }

footer.navbar {
  margin-bottom: 0;
}

.top-line {
  height: 34px;
  .bin {
    height: 100%;
    a {
      line-height: 150%;
      font-size: 1.5em;
      color: black;
    }
  }
}

.result-box {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 7px 5px 5px 5px;
  margin-bottom: 10px;
  .result-table-heading {
    font-size: 1.2em;
    width: 135px;
  }
}

.result-table-heading {
  display: table-cell;
  width: 75px;
  vertical-align: bottom;
}

.result-table-values {
  display: table-cell;
}

.grandma {
  display: inline;
  float: right;
}

#high-risk-warning {
  display: table-cell;
  padding-left: 10px;
  color: red;
  font-weight: bold;
  display: none;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#info-block {
  font-size: 1.2em;
}

#buttons-block,
#total-block,
#info-block,
#results-block {
  margin-bottom: 20px;
}

#high-risk-info {
  color: red;
  border: 1px red solid;
  display: none;
  border-radius: 5px;
}

.score-btn-group {
  width: 100%;
  .score-btn {
    width: 25%;
  }
}

.med-links {
  margin-top: 10px;
}

.float-right {
  float: right;
}

.alert {
  border-radius: 0;
  border: 0;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

.footer-section {
  border-bottom: 1px solid lightgray;
  border-right: none;
}

@media (min-width: 992px) {
  .footer-section {
    border-bottom: none;
    border-right: 1px solid lightgray;
  }
}

.score-container {
  margin-top: 5px;
  min-height: 29px;
  display: table;
}

.bottom-rule {
  border-bottom: 1px solid lightgray;
}

.brands-container {
  margin-bottom: 10px;
}

.number{
  border-radius: 50%;
  width: 27px;
  height: 27px;
  padding: 2px;
  margin-bottom: 2px;
  text-align: center;
  font: 20px Arial, sans-serif;
  font-weight: bold;
  display: block;
}

.number--zero {
  display: none;
  @extend .number;
  background: #CF9;
  border: 1px solid #360;
}

.number--one {
  @extend .number;
  background: #FF9;
  border: 1px solid #CC0;
}

.number--two {
  @extend .number;
  background: #FC9;
  border: 1px solid #C60;
}

.number--three {
  @extend .number;
  background: #F99;
  border: 1px solid #900;
}

nav.navbar {
  .container {
    margin-top: 5px;
  }
  min-height: 60px;
  .navbar-brand {
    padding: 0 15px;
    transform: scale(1.1) translateX(14px) translateY(-1px);
    .logo {
      height: 50px;
      float: left;
    }
    .brand-name {
      display: inline-block;
      font-family: "Proxima Nova";
      .brand-name-large {
        margin: 10px 0 0 0;
        font-size: xx-large;
        text-align: center;
      }
      .brand-name-small {
        font-size: medium;
        text-align: center;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    margin-top: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
