/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";

html,
body { height: 100%; }

body {
  display: table;
  width: 100%;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { height: 100%; }

span.score, span.total {
  font-size: x-large;
}

footer.navbar {
  margin-bottom: 0;
}

.top-line {
  height: 34px;
  .bin {
    height: 100%;
    a {
      line-height: 150%;
      font-size: 1.5em;
      color: black;
    }
  }
}

.result-box {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  margin-bottom: 10px;
  .result-table-heading {
    font-size: 1.2em;
    width: 140px;
  }
}

.result-table-heading {
  display: table-cell;
  width: 75px;
}

.result-table-values {
  display: table-cell;
}

.forget-me-not {
  width: 50%;
  display: inline;
  float: right;
  border-radius: 5px;
  margin: 2%;
}

.grandma {
  display: inline;
  float: right;
}

#high-risk-warning {
  display: table-cell;
  padding-left: 20px;
  color: red;
  font-weight: bold;
  display: none;
  font-size: 1.5em;
  margin-bottom: 10px;
}

#info-block {
  font-size: 1.2em;
}

#buttons-block,
#total-block,
#info-block,
#results-block {
  margin-bottom: 20px;
}

#high-risk-info {
  color: red;
  border: 1px red solid;
  display: none;
  border-radius: 5px;
}

.score-btn-group {
  width: 100%;
  .score-btn {
    width: 25%;
  }
}

.med-links {
  margin-top: 10px;
}

.float-right {
  float: right;
}

.alert {
  border-radius: 0;
  border: 0;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-right: 0;
  }
}

.footer-section {
  border-bottom: 1px solid lightgray;
  border-right: none;
}

@media (min-width: 992px) {
  .footer-section {
    border-bottom: none;
    border-right: 1px solid lightgray;
  }
}

.bottom-rule {
  border-bottom: 1px solid lightgray;
}

.brands-container {
  margin-bottom: 10px;
}

.navbar-brand {
  padding-top: 5px;
  .logo {
    height: 40px;
    float: left;
  }
  .brand-name {
    display: inline-block;
    font-family: "Proxima Nova";
    .brand-name-large {
      margin: 4px 0 0 0;
      font-size: x-large;
      text-align: center;
    }
    .brand-name-small {
      font-size: small;
      text-align: center;
    }
  }
}
