.container
  .row{style: "padding: 5px;"}
    .col-md-8.footer-section
      %h5
        ACB Calculator created by
        = link_to "Dr Rebecca King", "http://linkedin.com/in/rebecca-king-b72066176"
        and
        = link_to "Steve Rabino", "https://www.github.com/steverabino"
      %h6
        ✉️
        =link_to "rebecca.king21@nhs.net", "mailto:rebecca.king21@nhs.net"
      %p.small
        All material provided is for educational and informational purposes only and may not be construed as medical advice. The information is not intended to replace medical advice offered by physicians.
    .col-md-4{style: "text-align: right;"}
      .grandma
        = image_tag "peggy.jpg", style: "border-radius: 5px; margin: 0 10px; opacity: 0.75; width:75px"
      %h5
        Peggy Harrison 1920&#8209;2015
      %p.small
        In loving memory of a wonderful Grandma.
