.navbar.navbar-default
  .navbar-header
    .navbar-brand
      Anticholinergic Burden Calculator
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to "All medicines", medicines_path
    - if user_signed_in?
      %li
        = link_to "Logout", destroy_user_session_path, method: :delete
    - else
      %li
        = link_to "Admin login", new_user_session_path
